#python3.6+ verified

split-folders==0.4.3
pytorch-lightning-bolts==0.3.0
pytorch-lightning==1.1.8
scikit-learn==0.23.2
wandb==0.10.12
torch===1.7.1 
torchtext==0.6.0
torchvision===0.8.2 
torchaudio===0.7.2
tqdm==4.53.0
gdown==3.12.2
termcolor==1.1.0

#for CUDA 10
#pip install --extra-index-url https://developer.download.nvidia.com/compute/redist nvidia-dali-cuda100

#for CUDA 11
#pip install --extra-index-url https://developer.download.nvidia.com/compute/redist nvidia-dali-cuda110
